In [4]:
# question 1
import math

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# sorting 
ages.sort()

# printing the sorted list
print("The sorted list  :",ages)

#finding and printing the maximum age 
print("The max age is :",max(ages))

#finding and printing the minimum age
print("The min age is :",min(ages))

# adding max  age  to list
ages.append(max(ages))

# adding min age to list
ages.append(min(ages))
print("sorted list with min and max age added",ages)

# newlist with sorted values
newlist = sorted(ages)
number1 = math.floor(len(newlist))
median = (newlist[int(number1/2)] + newlist[int(number1/2)+1])/2
print("The median value of  list is :",median)

# finding the average age  of list
average = sum(newlist)/len(newlist)
print("The average value is :",average)

# finding the range of list
range = max(newlist) - min(newlist)
print("The range  of list is :", range)

The sorted list  : [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The max age is : 26
The min age is : 19
sorted list with min and max age added [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]
The median value of  list is : 24.0
The average value is : 22.75
The range  of list is : 7

In [49]:
# question 5

# given Radius of circle is 30
R = 30 

# assign the value to a variable name of area_of_circle
area_of_circle = 3.14*R*R
print("The area of circle is", area_of_circle)

# calculating circumference of circle
circum_of_circle = 2*3.14*R
print("The circumference of circle is", circum_of_circle)

# taking radius as user input and calculating the area of circle
r = float(input("Enter the radius: "))
area = 3.14*r*r
print("The area of circle is", area)

The area of circle is 2826.0
The circumference of circle is 188.4
Enter the radius: 7
The area of circle is 153.86

In [52]:
# question 6

# assigning given string to str
str ="I am a teacher and I love to inspire and teach people"

# storing string in the form of list of words
s = set(str.split(" "))
print("Number of unique words", len(s))

Number of unique words 10

In [53]:
# question 7

# printing the below print statement
print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [54]:
# question 8

# Given radius = 10
r = 10
a = 3.14*r*r

#The placeholders can be identified using numbered indexes {0}, or even empty placeholders {} 
#Inside the placeholders we can add a formatting type to format the result
str = "The area of a circle with radius {} is {} meters square".format(r,a)
print(str)

The area of a circle with radius 10 is 314.0 meters square

In [62]:

# question 9


w_lb = []
w_kg = []

# user input to enter the number of students
n = int(input("Enter number of students:"))

# using for loop

for i in range(0, n):
    uinp = int(input())
    w_lb.append(uinp)

    kg = uinp * 0.453592
    w_kg.append(kg)
print("user input",w_lb)
print(w_kg)

Enter number of students:2

TypeError: ignored

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

data_points = [[1,0],[2,0],[3,1],[6,1],[6,1],[7,0],[10,0],[11,0]]
x = [[1],[2],[3],[6],[6],[7],[10],[11]]
y = [0,0,1,1,1,0,0,0]

# splitting data
data_train, data_test, pred_train, pred_test = train_test_split(x,y, test_size=0.5, random_state=33)

print(data_train, data_test, pred_train, pred_test)

[[7], [3], [1], [6]] [[10], [11], [6], [2]] [0, 1, 0, 1] [0, 0, 1, 0]

In [33]:
# question 2

# creating an empty dictionary called dog
dog={}
print("created empty dictionary", dog)

# creating key:value pairs for dog dictionary
dog={
    "name":  "Stephie",
    "colour":"pink",
    "breed": "husky",
    "legs":  "white",
    "age":   8
}
print("The dog dictionary contains :",dog)

# creating a student dictionary with key:value pairs
student={
    "first_name" :"Anitha ",
    "last_name"  :"Anumanthula",
    "gender"     :"Female",
    "age"        :"24",
    "martial status":"single",
    "skills" : ["python","java"],
    "country"    :"India",
    "city"       :"Hyderabad",
    "address"    :"6-654/5,hyderabad"
}
print("The student dictionary contains :",student)

# printing the length of student
print("The length of student dictionary is",len(student))

# printing the value of skills and checking the data type
if type(student['skills'])==list:
      print("true skills is the  type of list ")
else:print(type(student['skills']))
print("before modifying skill set:",student['skills'],sep="\t", end="\n")

"modifying skill set  "
student['skills'][-1]="c++"

"after modifying skill set  "

print("after modifying skill set:",student['skills'],sep="\t", end="\n\n")




# printing the dictionary keys
k=student.keys()
print(k)

# printing the dictionary values
v=student.values()
print(v)

created empty dictionary {}
The dog dictionary contains : {'name': 'Stephie', 'colour': 'pink', 'breed': 'husky', 'legs': 'white', 'age': 8}
The student dictionary contains : {'first_name': 'Anitha ', 'last_name': 'Anumanthula', 'gender': 'Female', 'age': '24', 'martial status': 'single', 'skills': ['python', 'java'], 'country': 'India', 'city': 'Hyderabad', 'address': '6-654/5,hyderabad'}
The length of student dictionary is 9
true skills is the  type of list
before modifying skill set:	['python', 'java']
after modifying skill set:	['python', 'c++']

dict_keys(['first_name', 'last_name', 'gender', 'age', 'martial status', 'skills', 'country', 'city', 'address'])
dict_values(['Anitha ', 'Anumanthula', 'Female', '24', 'single', ['python', 'c++'], 'India', 'Hyderabad', '6-654/5,hyderabad'])

In [38]:
# question 3

# Create a tuple containing names of brothers
brothers = ("anit","prabha")
print("My brothers ", brothers)

# Create a tuple containing names of sisters
sisters = ("latha","rani")
print("My sisters ", sisters)

# assigning brothers and sisters to siblings tuple
siblings = brothers + sisters
print("My siblings ", siblings)

# printing the length of tuple
print(f"count of siblings :{len(siblings)}")

# adding siblings, father and mother names to family_members tuple
family_members = siblings + ("hanu","marima")
print("family members are ",family_members)

My brothers  ('anit', 'prabha')
My sisters  ('latha', 'rani')
My siblings  ('anit', 'prabha', 'latha', 'rani')
count of siblings :4
family members are  ('anit', 'prabha', 'latha', 'rani', 'hanu', 'marima')

In [48]:
# question 4

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# length of it_companies
print("The length of set is :",len(it_companies))

# adding Twitter to it_companies
it_companies.add("Twitter")
print("Added Twitter :", it_companies)

# inserting multiple companies 
it_companies.update({"Accenture","TCS","Virtusa"})
print("Updated IT companies are :", it_companies)

# removing capital one from it_companies
it_companies.discard("TCS")
print("Company tcs  removed from set",it_companies)

# union of A and B
C = A.union(B)
print("The union of A and B:",C)

# intersection of A and B
X = A.intersection(B)
print("The intersection of A and B:",X)

# subset of A and B
if A.issubset(B):
 print(" YES ,A is subset of B")
else:print("NO ,A is  not subset of B")
if A.isdisjoint(B):
 print(" YES ,A is disjoint of B")
else:print("NO ,A is  not disjoint of B")

print("The joining of A and B:",A.union(B),sep=" ")

print("The joining of B and A:",B.union(A),sep=" ")
print("The symmetric difference between  A and B:",A.symmetric_difference(B))
A.clear()
B.clear()
print("after  clearing element :",A,B, sep="\n")
age= [22, 19, 24, 25, 26, 24, 25, 24]
# printing the length of age list


length_age=len(age)
print(" length of age:",length_age)


# printing the len of age set 
age=set(age)
length_age_set=len(age)
print(" length of set:",length_age_set)

# comparing the length of list and set
print("compare the length",length_age ==length_age_set)
print()

The length of set is : 7
Added Twitter : {'Microsoft', 'Amazon', 'Oracle', 'Apple', 'Google', 'Twitter', 'Facebook', 'IBM'}
Updated IT companies are : {'Microsoft', 'Amazon', 'Oracle', 'Apple', 'Google', 'Twitter', 'Facebook', 'Virtusa', 'IBM', 'TCS', 'Accenture'}
Company tcs  removed from set {'Microsoft', 'Amazon', 'Oracle', 'Apple', 'Google', 'Twitter', 'Facebook', 'Virtusa', 'IBM', 'Accenture'}
The union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
The intersection of A and B: {19, 20, 22, 24, 25, 26}
 YES ,A is subset of B
NO ,A is  not disjoint of B
The joining of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
The joining of B and A: {19, 20, 22, 24, 25, 26, 27, 28}
The symmetric difference between  A and B: {27, 28}
after  clearing element :
set()
set()
 length of age: 8
 length of set: 5
compare the length False

In [46]:
# question 4

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# length of it_companies
print("The length of set is :",len(it_companies))

# adding Twitter to it_companies
it_companies.add("Twitter")
print("Added Twitter :", it_companies)

# inserting multiple companies 
it_companies.update({"Accenture","TCS","Virtusa"})
print("Updated IT companies are :", it_companies)

# removing capital one from it_companies
it_companies.discard("TCS")
print("Company tcs  removed from set",it_companies)

# union of A and B
C = A.union(B)
print("The union of A and B",C)

# intersection of A and B
X = A.intersection(B)
print("The intersection of A and B",X)

# subset of A and B
if A.issubset(B):
 print(" YES ,A is subset of B")
else:print("NO ,A is  not subset of B")
if A.isdisjoint(B):
 print(" YES ,A is disjoint of B")
else:print("NO ,A is  not disjoint of B")

print("The joining of A and B:",A.union(B),sep=" ")

print("The joining of B and A:",B.union(A),sep=" ")
print("The symmetric difference between  A and B:",A.symmetric_difference(B))
A.clear()
B.clear()
print("after  clearing element :",A,B, sep="\n")
age= [22, 19, 24, 25, 26, 24, 25, 24]
# printing the length of age list


length_age=len(age)
print("the length of age list:",length_age)


# printing the len of age set 
age=set(age)
length_age_set=len(age)
print("set:",length_age_set)

# comparing the length of list and set
print("compare the length", length_age==length_age_set)

The length of set is : 7
Added Twitter : {'Microsoft', 'Amazon', 'Oracle', 'Apple', 'Google', 'Twitter', 'Facebook', 'IBM'}
Updated IT companies are : {'Microsoft', 'Amazon', 'Oracle', 'Apple', 'Google', 'Twitter', 'Facebook', 'Virtusa', 'IBM', 'TCS', 'Accenture'}
Company tcs  removed from set {'Microsoft', 'Amazon', 'Oracle', 'Apple', 'Google', 'Twitter', 'Facebook', 'Virtusa', 'IBM', 'Accenture'}
The union of A and B {19, 20, 22, 24, 25, 26, 27, 28}
The intersection of A and B {19, 20, 22, 24, 25, 26}
 YES ,A is subset of B
NO ,A is  not disjoint of B
The joining of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
The joining of B and A: {19, 20, 22, 24, 25, 26, 27, 28}
The symmetric difference between  A and B: {27, 28}
after  clearing element :
set()
set()
the length of age list: 8
set: 5
compare the length False